{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "@id": "{{ .Site.BaseURL }}#business",
  "name": "{{ .Site.Title }}",
  "description": "{{ .Site.Params.description }}",
  "image": "{{ .Site.BaseURL }}{{ .Site.Params.logo }}",
  "url": "{{ .Site.BaseURL }}",
  "inLanguage": "{{ .Site.LanguageCode | default "nb-NO" }}",
  "telephone": "{{ .Site.Params.phone }}",
  "email": "{{ .Site.Params.email }}",
  "knowsAbout": [
    "Nettsider for bedrifter",
    "Webutvikling",
    "Prototyping, MVP og proof of concept",
    "Bookingtjenester",
    "Programmering på prosjektbasis",
    "IT-kompetanse",
    "IT-konsultasjon",
    "Skreddersydde webløsninger"
  ],
  "address": {
    "@type": "PostalAddress",
    {{ with .Site.Params.business.locality }}"addressLocality": "{{ . }}",
    {{ end }}
    "addressRegion": "{{ .Site.Params.business.region }}",
    "postalCode": "{{ .Site.Params.business.postalCode }}",
    "addressCountry": "{{ .Site.Params.business.country }}"
  },
  {{ if and .Site.Params.latitude .Site.Params.longitude }}"geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ .Site.Params.latitude }}",
    "longitude": "{{ .Site.Params.longitude }}"
  },
  {{ end }}
  "areaServed": [
    {{ $areas := split .Site.Params.serviceArea ", " }}
    {{ range $i, $area := $areas }}{{ if $i }},{{ end }}
    { "@type": "AdministrativeArea", "name": "{{ $area }}" }
    {{ end }}
  ]
}
</script>
{{ end }}
