{{ define "main" }}

<section>
    <div class="container my-10">

        <!-- Banner Section -->
        <div class="rounded shadow-lg bg-gradient-to-l from-blue-400 to-slate-500 text-white p-5 md:p-10 mb-8">
            <h1 class="text-4xl md:text-5xl font-bold mb-4">Enkle, Billige nettsider</h1>
            <p class="text-xl">Enkle nettløsninger skreddersydd for små bedrifter.</p>
        </div>

    </div>
</section>

<section class="container my-10">

    <!-- Customers Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

        <!-- Customer Card 1 -->
        <div class="shadow-lg rounded bg-white p-5">
            <h2 class="text-2xl font-bold mb-2">Kunder</h2>
            <ul>
                <li><a href="https://www.fjordapartments.com" class="text-blue-700 hover:text-blue-500"
                        target="_blank">Balestrand Fjord Apartments</a></li>
                <li><a href="https://www.balestrandfjordangling.com" class="text-blue-700 hover:text-blue-500"
                        target="_blank">Balestrand Fjord Angling</a></li>
                <li><a href="https://www.leigebil.no" class="text-blue-700 hover:text-blue-500"
                        target="_blank">Balholm Bilutleige</a></li>
            </ul>
        </div>

        <!-- About Section -->
        <div class="shadow-lg rounded bg-white p-5">
            <h2 class="text-2xl font-bold mb-2">Om oss</h2>
            <p>Balevik IT & Service ønsker å hjelpe bedrifter med å øke synligheten på nettet på en
                enkel og rimelig måte. Vi skreddersyr løsninger etter kundens behov og ønsker å gjøre prosessen
                så enkel som mulig. <b>Ta kontakt for et uforpliktende tilbud</b>.</p>
        </div>
    </div>
    </div>


</section>




{{ end }}