{{ define "main" }}

<section>
    <div class="container my-10">

        <!-- Banner Section -->
        <div class="rounded shadow-lg bg-gradient-to-l from-blue-400 to-slate-500 text-white p-5 md:p-10 mb-8">
            <h1 class="text-4xl md:text-5xl font-bold mb-4">Enkle statiske nettsider</h1>
            <p class="text-xl">Enkle nettløsninger skreddersydd for små bedrifter.</p>
        </div>

    </div>
</section>

<section class="container my-10">

        <div class="shadow-lg rounded bg-white p-5 text-left mb-8">
            <h2 class="text-lg font-bold mb-2">Hva er statiske nettsider?</h2>
            <p class="text">Statiske nettsider er som digitale brosjyrer eller plakater. De består av fast innhold
                som ikke endres med mindre noen manuelt oppdaterer det. Når du besøker en statisk nettside, ser du den
                samme informasjonen som alle andre ser, og innholdet forblir det samme hver gang du åpner siden.</p>
        </div>

        <!-- Feature Section -->
        <h2 class="text-2xl mb-4">Hvorfor velge statiske nettsider?</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mb-8">

            <!-- Feature Card: Performance -->
            <div class="shadow-lg rounded bg-white p-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 mx-auto mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                </svg>
                <h2 class="text-lg font-bold mb-2">Ytelse</h2>
                <p class="text-sm">Raskt lastetid fordi innholdet er forhåndsbygget og trenger ikke hentes dynamisk.</p>
            </div>

            <!-- Feature Card: Security -->
            <div class="shadow-lg rounded bg-white p-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 mx-auto mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                </svg>
                <h2 class="text-lg font-bold mb-2">Sikkerhet</h2>
                <p class="text-sm">Siden innholdet ikke endres dynamisk, er det færre sikkerhetsrisikoer sammenlignet
                    med dynamiske nettsider</p>
            </div>

            <!-- Feature Card: Cost-effectiveness -->
            <div class="shadow-lg rounded bg-white p-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 mx-auto mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
                <h2 class="text-lg font-bold mb-2">Kostnadseffektivt</h2>
                <p class="text-sm">Statiske nettsider er ofte enklere å lage og vedlikeholde. De krever ikke spesielle
                    systemer eller databaser for å fungere</p>
            </div>

        </div>

        <!-- Customers Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

            <!-- Customer Card 1 -->
            <div class="shadow-lg rounded bg-white p-5">
                <h2 class="text-2xl font-bold mb-2">Kunder</h2>
                <ul>
                    <li><a href="https://www.fjordapartments.com" class="text-blue-700 hover:text-blue-500"
                            target="_blank">Balestrand Fjord Apartments</a></li>
                    <li><a href="https://www.balestrandfjordangling.com" class="text-blue-700 hover:text-blue-500"
                            target="_blank">Balestrand Fjord Angling</a></li>
                </ul>
            </div>

            <!-- About Section -->
            <div class="shadow-lg rounded bg-white p-5">
                <h2 class="text-2xl font-bold mb-2">Filosofi</h2>
                <p>Balevik IT & Service ønsker å hjelpe bedrifter med å øke synligheten på nettet på en
                    effektiv og rimelig måte. Vi skreddersyr løsninger etter kundens behov og ønsker å gjøre prosessen
                    så enkel som mulig.</p>
            </div>
        </div>
    </div>


</section>




{{ end }}